<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <h1>  Places to visit in Sri Lanka </h1>
    <h2 class="sigiriya"> Sigiriya </h2>
<img class="sigiriyaP" src="Sigiriya.jpg" alt="Sigiriya"
     height=300
     width=500>
    <h6 class="sigiriya">www.planetware.com</h6>
    <p class="sigiriya"> Sigiriya Lion Rock is an ancient rock fortress known for its massive column of rock that reaches nearly 200 meters high. The site dates back to the reign of King Kasyapa (477-495 AD), who chose this site as his new capital. He decorated the walls with frescoes, and built an impressive palace right on top of the rock column, accessible only through the mouth of an enormous carved lion.</p>
    <h2 class="daladam"> Sri Dalada Maligawa </h2>
<img class="daladamP" src="Sri-Dalada-Maligawa_1920x700-1.jpg" alt="Sri Dalada Maligawa"
     height=300
     width=500>
    <h6 class="daladam">www.talesofceylon.com</h6>
    <p class="daladam">The Temple of the Sacred Tooth Relic is a world-renowned place of worship, where the left Canine tooth of Gautama Buddha is enshrined. The temple which is venerated by thousands of local & foreign devotees and tourists daily was named as a world heritage by UNESCO in 1988.The temple which carries a lot of value to Buddhists all over the world also has immense cultural value. The architecture is of unique Kandyan architectural style with a combination of the unique style used to build “Dalada Mandira” the shrines which housed the Sacred Tooth Relic previously in other kingdoms.</p>
    <h2 class="udawalawa"> Udawalawa National Park </h2>
<img class="udawalawaP" src="Udawala-National-Park.jpg" alt="Udawalawa National Park"
     height=300
     width=500>
    <h6 class="udawalawa">www.planetware.com</h6>
    <p class="udawalawa">This large wildlife park is in the southern part of the country, about an hour's drive from the resort area of Hambantota. The terrain and environment vary, as the park is on the border of the country's wet and dry zones.Visitors to the park can see elephants, as there's a large population of them, along with crocodiles, water buffalo, and more. In fact, it's one of the best places in the world to see elephants in the wild outside of Africa.There are leopards there, too, but they can be very hard to track or spot. There are also monkeys and a large assortment of deer and small mammals. It's also an excellent place for bird-watching.</p>
  
  </body>
</html>