body {
  background-color: #85e985;
}
h1{
 color: #0a0ac9;
 text-align: center;
text-decoration: double underline;
  font-weight: 800;
  text-shadow: 1px 1px;
  font-family: cursive;
  
}

h2{

  text-decoration: underline;
  font-family:cursive;
}

p{
  color: #060646;
  font-family: cursive;
  text-align: justify
  
}
h6{
  color: #060646;
  font-family: cursive;
  text-align: justify
}
img{
  border-color: #2a0202;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
}
.sigiriya{
  font-family: cursive;
  background-color: aquamarine;
  color: royalblue
}
.sigiriyaP{
  border-style: dotted;
  border-color: #6969d8;
  border-radius: 20px
  
}
.daladam{
  font-family: cursive;
  background-color: lightyellow;
  color: firebrick;
  
}
.daladamP{
  border-style: dotted;
  border-color: firebrick;
  border-radius: 20px
}
.udawalawa{
  font-family: cursive;
  background-color: lightpink;
  color: darkgreen;
}
.udawalawaP{
  border-style: dotted;
  border-color: lightpink;
  border-radius: 20px
}
