body {
  background-color: pink;
}
p {
  font-family: cursive;
  
    
}
h1 {
  font-weight: bold;
}
img{
  width: 250px;
  margin: 10px;
  border-color: saddlebrown;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;

  
}